<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NewCSharpDemo.Properties.Settings.ConnectionString" connectionString="Data Source=.;Initial Catalog=berrycod;User ID=sa;Password=future" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>