<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Keel.DB.MySql.Properties.Settings.Setting" connectionString="server=localhost;User Id=root;password=kissme;Persist Security Info=True;database=test"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>