<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VBDemo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- 本节定义 My.Application.Log 的登录配置-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- 取消注释以下一节可写入应用程序事件日志-->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- 取消注释以下一节并用应用程序名替换 APPLICATION_NAME 可写入应用程序事件日志-->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <VBDemo.My.MySettings>
      <setting name="Setting" serializeAs="String">
        <value>as</value>
      </setting>
    </VBDemo.My.MySettings>
  </userSettings>
  <connectionStrings>
    <add name="VBDemo.Properties.Settings.ConnectionString" connectionString="Data Source=.;Initial Catalog=berrycod;Persist Security Info=True;User ID=sa;Password=future"
      providerName="System.Data.SqlClient" />
    <add name="VBDemo.My.MySettings.Setting1" connectionString="Data Source=.;Initial Catalog=berrycod;User ID=sa;Password=future"
      providerName="System.Data.SqlClient" />
    <add name="VBDemo.My.Settings.ConnectionString" connectionString="Data Source=.;Initial Catalog=berrycod;Persist Security Info=True;User ID=sa;Password=future"
      providerName="System.Data.SqlClient" />
    <add name="VBDemo.My.MySettings.ConnectionString" connectionString="Data Source=.;Initial Catalog=berrycod;Persist Security Info=True;User ID=sa;Password=future"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>