<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WindowsFormsApplication2.Properties.Settings.ConnectionString" connectionString="Data Source=MYH-PC;Initial Catalog=goomle;Persist Security Info=True;User ID=sa;Password=future" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
