<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SQL2KDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SQL2KDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SQL2KDemo.Properties.Settings.Setting2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Projects\AnalysisMaps\App_Data\dcmap.mdb" providerName="System.Data.OleDb" />
    <add name="SQL2KDemo.Properties.Settings.ConnectionString" connectionString="Data Source=.;Initial Catalog=berrycod;Persist Security Info=True;User ID=sa;Password=future" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <SQL2KDemo.Properties.Settings>
      <setting name="Setting1" serializeAs="String">
        <value>sdaf</value>
      </setting>
    </SQL2KDemo.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SQL2KDemo.Properties.Settings>
      <setting name="fasd" serializeAs="String">
        <value>sdaf</value>
      </setting>
      <setting name="fads" serializeAs="String">
        <value>adsf</value>
      </setting>
      <setting name="dsaf" serializeAs="String">
        <value>sadf</value>
      </setting>
      <setting name="dfsa" serializeAs="String">
        <value>sad</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>sdaf</value>
      </setting>
    </SQL2KDemo.Properties.Settings>
  </applicationSettings>
</configuration>