<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="DBSyncTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="DBSyncTools.Properties.Settings.Setting" connectionString="Data Source=devsvr;Initial Catalog=Klaus;Persist Security Info=True;User ID=sa;Password=kissme"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.ConnectionUI" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
    <applicationSettings>
        <DBSyncTools.Properties.Settings>
            <setting name="dec" serializeAs="String">
                <value>Data Source=.;Initial Catalog=Klaus;Integrated Security=True</value>
            </setting>
            <setting name="src" serializeAs="String">
                <value>Data Source=devsvr;Initial Catalog=Klaus;Persist Security Info=True;User ID=sa;Password=kissme</value>
            </setting>
        </DBSyncTools.Properties.Settings>
    </applicationSettings>
</configuration>
